.mat-toolbar {
  background-color: #ffe0cc;
}
ul li {
  list-style: none;
}

img {
  width: 70px;
  height: 40px;
  align-items: center;
  margin-left: 100px;
}

.user {
  width: 30px;
  height: 30px;
  align-items: center;
  margin-right: 100px;
}
