<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div>
    <h2>Polos {{ data.name }}</h2>
    <p class="Title">Exibindo detalhes do polo {{ data.name }} {{ data.id }}</p>
  </div>
  <div class="form">
    <h4>Detalhes do endereço</h4>
    <div class="row">
      <div class="col-md-2">
        <label>Cep</label>
        <input class="form-control" value="{{ data.cep }}" />
      </div>

      <div class="col-md-4">
        <label></label>
        <input class="form-control" placeholder="Nome da rua" />
      </div>

      <div class="col-md-2">
        <label></label>
        <input class="form-control" placeholder="Bairro" />
      </div>
      <div class="col-md-2">
        <label></label>
        <input class="form-control" placeholder="Estado" />
      </div>
      <div class="col-md-2">
        <label></label>
        <input class="form-control" placeholder="Cidade" />
      </div>
    </div>
  </div>

  <div class="form-empresa">
    <h4>Detalhes da empresa</h4>
    <div class="row">
      <div class="col-md-2">
        <label>Name</label>
        <input class="form-control" value="{{ data.name }}" />
      </div>

      <div class="col-md-2">
        <label>Business</label>
        <input class="form-control" value="{{ data.business }}" />
      </div>

      <div class="col-md-2">
        <label>Valuation</label>
        <input class="form-control" value="{{ data.valuation }}" />
      </div>
      <div class="col-md-2">
        <label>Cnpj</label>
        <input class="form-control" value="{{ data.cnpj }}" />
      </div>
      <div class="col-md-2">
        <label>Ativo</label>
        <input class="form-control" value="{{ poloAtivo }}" />
      </div>
    </div>
  </div>
  <button _ngcontent-c22="" class="back" mat-button>voltar</button>
  <button _ngcontent-c22="" class="save" mat-button>Salvar</button>
</div>
