.Title {
  margin-top: 0px;
  font-size: 14px;
  font-weight: lighter;
}
.tablePolos {
  align-items: center;
  justify-content: center;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
table {
  width: 100%;
}
.eye {
  background: white;
  border: none;
}
